<.flash_group flash={@flash} />
<div class="container mx-auto p-8">
  <div class="flex justify-center">
    <div class="bg-white shadow-md rounded-lg p-6 w-full md:w-3/4 lg:w-1/2">
      <h2 class="text-2xl font-bold mb-4 text-center">Seus Links</h2>
      <div class="divide-y divide-gray-300">
        
      </div>
    </div>
  </div>
</div>